@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  display: none !important;
}

body{
  background-color: rgb(233, 233, 244) !important;
}

:root{
  --bg-color:#0f172a;
  
}

.swiper-button-prev, .swiper-button-next{
    color: #000120 !important;
    padding:50px 22px 50px 22px !important;
    background-color: white !important;
    border-radius: 5px;
    font-size: 15px !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  .ant-checkbox-group {
   display:grid !important;
   grid-template-columns: auto auto;

  }

  @media(min-width:1460px){
    .ant-checkbox-wrapper {
      display: grid;
      grid-template-columns: auto auto !important;
      align-items: flex-start;
      justify-content: flex-start !important;
      width: 8vw !important;
      font-size: 12px !important;
    }
  }

  @media(max-width:560px){
    .swiper-button-prev, .swiper-button-next{
      color: #000120 !important;
      padding:20px 10px 20px 10px !important;
      background-color: white !important;
      border-radius: 5px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    } 
    .swiper-button-prev:after, .swiper-button-next:after{
      font-size:20px !important;
      font-weight: 600 !important;
      
    }
  }


  @media(min-width:560px){
    .swiper-button-prev, .swiper-button-next{
      color: #000120 !important;
      padding:40px 20px 40px 20px !important;
      background-color: white !important;
      border-radius: 5px;
      font-size: 10px !important;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }     
  }

 

  .swiper-button-disabled {
    opacity: 0 !important;
  }

  .ant-input-number-handler-wrap {
    display: none !important;
  }

 .swiper-wrapper{
  flex-direction: row !important;
 }